body {
  background-color: lightgrey;
}

path.circo {
  stroke: #555; /* Between dark and dimgrey */
  stroke-width: 0.1;
}

circle.circo {
  stroke: black;
  stroke-width: 1;
}

h1 {
  text-align: center;
}

.tooltip {
  color: black;
  background-color: white;
  padding: .5em;
  text-shadow: whitesmoke 0 1px 0;
  border-radius: 2px;
  opacity: 0.8;
  position: absolute;
}

footer {
   position:fixed;
   bottom:0;
   right: 0;
   padding: 10px 10px 10px 10px;
}

footer a {
  text-decoration: none;
}
